<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for SmartEnums Tests" Description="Code analysis rules for SmartEnum Tests" ToolsVersion="15.0">
  <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
    <!-- 
      This code is produced when theory parameters that are unused. Normally, this is a warning which causes our build to fail.
    -->

  </Rules>
</RuleSet>