##########################################
# Common Settings
##########################################

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8

[.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
